@font-face {
    font-family: 'Noto Sans Mono';
    src: url('static/NotoSansMono-Black.ttf') format('truetype');
    font-weight: 600;
}
*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
    font-family: Noto Sans Mono, sans-serif;
    overflow-x: hidden;
}
.page{
    width:100vw;
    height:100%;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    margin-top: 30px;
    position: absolute; 
    top: 0; 
    left: 0;
}
.nav-bar img{
    margin-top:30px;
    margin-left:20px;
    width:14vw;
    height:100%;
    cursor: pointer;
    vertical-align: middle;
    padding:12px 20px;
    
    
}
.hero{
    display: flex;
}
.hero-left{
   position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left:0px;
    height:100%;
    width:50%;
    ;
}
.hero-left img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-right{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right:0px;
    height:100%;
    width:50%;
}
.hero-right img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-text-container{
    display:flex;
    flex-direction: column;
    margin-right:10px;
    justify-content: flex-end;
    align-items: center;

}