@font-face {
    font-family: 'Noto Sans Mono';
    src: url('static/NotoSansMono-Black.ttf') format('truetype');
    font-weight: 600;
}
*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
    font-family: Noto Sans Mono, sans-serif;
    overflow-x: hidden;
}
.page{
    width:100vw;
    height:100%;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100%;
    margin-top: 30px;
    position: absolute; 
    top: 0; 
    left: 0;
}
.nav-bar img{
    margin-top:30px;
    margin-left:20px;
    width:14vw;
    height:100%;
    cursor: pointer;
    vertical-align: middle;
    padding:12px 20px;
    
    
}
.hero{
    display: flex;
}
.hero-left{
   /* position: relative;  */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left:0px;
    height:100%;
    width:50%;
    ;
}
.hero-left img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-right{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    right:0px;
    height:100%;
    width:50%;
}
.hero-right img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    max-height: 100vh;
    margin-top:40vh;
    padding-right:50px;
    padding-left:70px;

}
.left-hero-title,
.left-hero-desc,
button {
    margin-bottom: 10px;
    
}

.left-hero-title {
    font-size: 24px;
    color:white;
    /* font-weight:0; */
}

.left-title-bg {
    background-color: #222; 
    padding: 5px 10px; 
}
.left-hero-desc{
    color:white;
    font-weight: 200;
    padding-left:50px;
    text-align: end;
    margin-top:45px;
    margin-bottom:40px;
}
.left-text-container button{
    cursor:pointer;
    width:140px;
    height:40px;
    text-align: center;
    padding:7px 5px;
    color:white;
    background-color: #232323e6;
    font-size:16px;
    
}

.right-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100vh;
    margin-top:40vh;
    padding-right:70px;
    padding-left:50px;

}
/* .right-hero-title,
.right-hero-desc,
button {
    margin-bottom: 10px;
    
} */

.right-hero-title {
    font-size: 24px;
    color:#232323e6;
    margin-bottom: 10px;;
    /* font-weight:0; */
}

.right-title-bg {
    background-color: white; 
    padding: 5px 10px; 
}
.job-ready{
    color:white;
    /* margin-top:40px; */
    font-size:36px;
}
.right-hero-desc{
    color:white;
    font-weight: 200;
    /* padding-left:30px; */
    text-align: start;
    padding-right:50px;
    margin-top:30px;
    margin-bottom:40px;
}
.right-text-container button{
    cursor:pointer;
    width:140px;
    height:40px;
    text-align: center;
    padding:7px 5px;
    color:#232323e6;
    background-color: white;
    font-size:16px;
}
.section-2{
    background-color: #f1f2f3;
}
.section-3{
    margin-bottom:60px;
}
.title-section {
    display: flex;
    margin: 70px;
    align-items: center;
    position: relative;
    
}

.arrow {
    color: #28eea7;
    font-size: 24px;
    margin-right: 10px;
    margin-left:40px;
}

.hello-world {
    font-size: 24px;
    color: #363738;
    font-weight: 700;
    margin-left: 10px; /* Adjusted margin-left to 0 */
    margin-right:900px;
}

.circle-container-wrapper {
    display: flex;
    align-items: center;
    margin-right: 140px;
}

.circle-black,
.circle-grey,
.circle-green {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 10px;
}

.circle-black {
    background-color: #363738;
}

.circle-grey {
    background-color: #DCDEE1;
}

.circle-green {
    background-color:#28EEA7;
}
.video-container {
    margin-top: 40px;
    width: 1200px;
    height: 650px;
    border-radius: 5px;
    overflow: hidden; /* Ensure the border-radius is applied to the iframe */
    position: relative; /* Positioning context for the iframe */
    left:10vw;
    margin-bottom:40px;
}
.video-container iframe {
    width: 100%;
    height: 100%;
    border: 15px solid #28EEA7;
    border-radius: 15px;
    margin: 0; /* Remove margin for full-width iframe */
}
.milestone-container{
    display: flex;
}
.left-milestone-container{
width:60vw;
height:auto;
margin-left:100px;
margin-right:30px;
background-color: #f1f2f3;
border-radius: 15px;
padding:15px;
}
.big-number{
    /* text-align: center; */
    font-weight: 900;
    color:#363738;
    font-size:120px;
    padding:20px 20px 20px 40px;
}
.left-milestone-container h2{
    font-weight: 100;
    color:#363738;
    padding-left:25px;
    font-size:30px;
}
.left-milestone-container p{
    
    color:#363738;
    padding-left:25px;
    font-size:20px;
    font-style: Noto Sans Mono, sans-serif;
    font-weight: 200;
}
.right-milestone-container{
    display:flex;
    justify-content:space-around; 
    /* hon kenit space-around */
    align-items: start;
    flex-wrap: wrap;
    padding-right:200px;
    
}
.youth-trained{
    width:22vw;
    height:auto;
    background-color: #f1f2f3;
    border-radius: 15px;
    height:auto;
    margin-right:20px;
    margin-left:5px;
}
.youth-trained h1{
    font-size:64px;
    font-weight: 800;
    padding-bottom:10px; 
    padding-top:15px;
    color:#363738;
    text-align:center
   
}
.youth-trained p{
    text-align: center;
    padding-bottom: 30px;
}
    
.hiring-countries,.graduated,.partner-companies{
    
    background-color: #f1f2f3;
}
 .hiring-countries{
    margin-left:0px;
    border-radius:15px;
    width:15vw;
    height:auto;
} 
.youth-trained h1,
.hiring-countries h1,
.graduated h1,
.partner-companies h1 {
    font-size: 64px;
    font-weight: 800;
    padding-right: 20px; /* Adjust the padding as needed for spacing within each item */
    color: #363738;
    padding-left:20px;
}

.hiring-countries p,
.graduated p,
.partner-companies p{
    text-align: center;
    padding-bottom: 30px;
    padding-left:5px;
}
.youth-trained ,
.hiring-countries ,
.graduated ,
.partner-companies{
    border-radius:15px;
}
.section-4{
    background-color: #28EEA7;
}
.title-section2 {
    display: flex;
    margin: 70px;
    margin-left:110px;
    align-items: center;
    position: relative;
}
.arrow2{
    background-color: #363738;
    color:#28EEA7;
    font-size: 24px;
    font-weight: 700;
    padding:10px;
}
.programs{
    font-size: 24px;
    color: white;
    font-weight: 700;
    margin-left: -11px; /* Adjusted margin-left to 0 */
    margin-right:900px;
    background-color: #363738;
    padding:10px;
}
.circle-container-wrapper {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.circle-white,
.circle-grey,
.circle-black {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 10px;
}
.circle-white {
    background-color: white;
}

.circle-grey {
    background-color: #A5A6A9;
}

.circle-black {
    background-color:#363738;
}



.tab-menu {
    display: flex;
    justify-content: flex-start;
    margin-left:120px;
    margin-bottom:-18px;
    background-color: #28EEA7;
    padding: 10px;
    gap:60px;
}

.tab-menu h3 {
    margin: 0;
    padding: 10px;
    /* margin-right:60px; */
    gap:60px;
    cursor: pointer;
    color:#222;
}

.tab-menu h3.active {
    background-color: #363738;
    color: #28EEA7;
    width:100px;
    height:50px;
    border-radius: 8px;
    text-align: center;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    align-self: center;
   background-color: #363738;
}

.text-content {
    width: 70%;
    color:#DCDEE1;
}

.image-container {
    width: 30%;
    height:370px;
    overflow-y: hidden;
}

.image-container img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
    overflow-y: hidden;
}